[Unit]
Description=WordPress Database Container

[Container]
Label=app=wordpress
ContainerName=wordpress-db
Image=docker.io/library/mariadb:10
Network=mole-{{.MOLE_PROJECT_NAME}}-wordpress.network
Volume=mole-{{.MOLE_PROJECT_NAME}}-database.volume:/var/lib/mysql
Environment=MARIADB_RANDOM_ROOT_PASSWORD=1
Environment=MARIADB_USER={{.MOLE_DB_USER}}
Environment=MARIADB_DATABASE={{.MOLE_DB_NAME}}
Environment=MARIADB_PASSWORD={{.MOLE_DB_PASS}}

[Install]
WantedBy=multi-user.target default.target